@media screen and (max-width: 760px){
    header{
        flex-direction: column;
    }

    main{
        flex-direction: column;
    }

    h2{
        font-size: 38px;
    }

    form{
        margin: 0 auto;
    }

    input{
        align-self: center;
    }

    img{
        display: none;
    }

    ul{
        text-align: center;
    }
}

@media screen and (max-width: 1133px){
    h2{
        font-size: 38px;
    }

    p{
        max-width: 300px;
    }
}

@media screen and (max-width: 960px){
    h2{
        font-size: 20px;
    }
    p{
        font-size: 15px;
    }
}

